.summary-box {
	width: 300px;
	margin: 30px auto;
	border-radius: 10px;
	box-shadow: 0 0 5px #ccc;
	display: flex;
	flex-direction: column;
	padding: 30px;
}
.summary-box h5 {
	display: flex;
	border-bottom: 1px solid darkcyan;
	text-align: center;
	padding: 0px;
}

.summary-box div {
	display: flex;
	justify-content: space-between;
}

.summary-box br {
	color: var(--card-btn);
}

.summary-box span {
	color: var(--price-color);
}

.summary-box .StripeCheckout {
	background-color: var(--btns-color);
}
