.individualCartCard {
	display: flex;
	justify-content: space-between;
	width: 710px;
	height: fit-content;
	box-shadow: 0 0 5px #afafaf;
	margin: 10px;
}

.individualCartCard .productImg {
	width: 100%;
}

.individualCartCard .productImg img {
	width: 100%;
}

.individualCartCard .cartCardTitle {
	font-weight: 600;
	font-size: 23px
}

.individualCartCard .cartCardPrice {
	font-weight: bold;
    font-size: 19px;
    color: var(--price-color);
}

.cardTotalPrice {
	font-weight: bold;
    font-size: 19px;
    color: var(--price-color);
}

.individualCartCard .productButton {
	padding: 10px;
	background-color: var(--btns-color);
	color: white;
	cursor: pointer;
	box-shadow: 0 0 5px #ccc;
	justify-content: center;
}
