:root {
	--link-color: darkred;
	--price-color: black;
	--btns-color: darkred;
	--text-color: black;
	--card-btn: black;
}

.productCard {
	width: 350px;
	height: fit-content;
	box-shadow: 0 0 5px #afafaf;
	margin: 30px;
	border-radius: 10px;
	padding-bottom: 20px;
}

.productCard .productImg {
	width: 100%;
}

.productCard .productImg img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.productCard .productCardRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.productTitle {
	font-weight: 600;
	font-size: 23px;
}

.individualCards .productTitle {
	padding-bottom: 10px;
}

.productTitle,
.productCardRight {
	padding-left: 15px;
	padding-right: 15px;
}

.productPrice {
	font-weight: bold;
	font-size: 19px;
	color: var(--price-color);
}

/* .individualCards .productCardButton {
	margin-bottom: 25px;
} */

.productCardButton {
	text-align: center;
	padding: 10px;
	background-color: transparent;
	color: var(--card-btn);
	border: 1px solid var(--card-btn);
	cursor: pointer;
	box-shadow: 0 0 5px #ccc;
	justify-content: center;
	font-weight: bold;
	border-radius: 5px;
}

.individualCards .productCardButton {
	width: 115px;
}
