.productDetailsBox {
    padding: 30px;
    display: flex;
}

.productDetailsBox .productImage {
    width: 50%;
}

.productDetailsBox .productImage img {
    width: 100%;
    border-radius: 25px;
}

.productDetailsBox .productInfo {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.productDetailsBox .productTitle {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    font-size: 40px;
    font-weight: 900;
}

.productDetailsBox .productPrice{
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    font-size: 40px;
}

.productDetailsBox .productDescription {
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    font-size: 20px;
    margin-bottom: 20px;
}

