.productDetailsBox {
	padding-top: 40px;
	padding-left: 90px;
	padding-right: 90px;
	padding-bottom: 100px;
	display: flex;
	justify-content: space-around;
}

.productDetailsBox .detailsImage {
	width: 40%;
}

.productDetailsBox .detailsImage img {
	width: 100%;
	max-width: fit-content;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 20px;
}

.productDetailsBox .productDetailsInfo {
	width: 40%;
	height: fit-content;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 25px;
}

.productDetailsBox .detailsTitle {
	padding: 20px;
	margin-bottom: 10px;
	/* box-shadow: 0 0 5px #afafaf; */
	font-size: 25px;
	font-weight: 900;
	text-align: left;
	border-radius: 10px;
}

.priceplusaddtocart {
	display: flex;
	justify-content: safe;
}

.productDetailsBox .detailsPrice {
	padding: 10px 10px 10px 20px;
	font-size: 20px;
	text-align: left;
	margin-right: 30px;
	border-radius: 10px;
}
.productDetailsBox .detailsCardButton {
	padding: 10px;
	font-size: 20px;
	text-align: center;
	box-shadow: 0 0 5px #ccc;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
}

.productDetailsBox .detailsDescription {
	text-align: left;
	margin-top: 10px;
	padding: 20px;
	/* box-shadow: 0 0 5px #afafaf; */
	font-size: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}
