.catrProductCard {
	display: flex;
	width: 100%;
	max-width: 750px;
	height: clamp(90px, 10vw, 130px);
	margin-top: 20px;
	box-shadow: 0 0 5px #afafaf;
	border-radius: 5px;
}

.cartProductImg {
	height: 100%;
	width: 20%;
}

.cartProductImg img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.cartProductInfoBox {
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cartProductInfoRow1 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cartProductTitle {
	padding: 10px;
	font-size: clamp(13px, 3vw, 18px);
	font-weight: bold;
}

.cartDeleteButton {
	/* padding: 20px; */
	margin-right: 10px;
	cursor: pointer;
	height: 30px;
	width: 30px;
}
.cartDeleteButton svg {
	stroke: salmon;
	height: 100%;
	width: 100%;
}

.cartProductInfoRow2 {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.cartProductPrice {
	padding: 10px;
	font-size: clamp(10px, 3vw, 16px);
}

.quantityBox {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}

.cartProductQantityController {
	display: flex;
	font-size: clamp(10px, 3vw, 16px);
}

.minusButton {
	cursor: pointer;
	padding-right: 5px;
}
.plusButton {
	cursor: pointer;
	padding-left: 5px;
}

.cartProductTotalPrice {
	font-size: clamp(10px, 3vw, 16px);
}

@media (max-width: 850px) {
	.catrProductCard {
		max-width: 750px;
		height: clamp(90px, 20vw, 130px);
	}
}
